[Unit]
Description=qBittorrenti-nox service for user %I
Documentation=man:qbittorrent-nox(1)
Wants=network-online.target nsopenvpn@pia.service
After=network-online.target nss-lookup.target nsopenvpn@pia.service

[Service]
Type=simple

PrivateTmp=false
EnvironmentFile=/opt/qBittorrent/ENV
ExecStart=/usr/sbin/ip netns exec pia sudo -u jauschua /usr/bin/qbittorrent-nox
ExecStartPost=/usr/bin/sleep 3s
ExecStartPost=/usr/bin/curl -k -i -X POST -d "json={\"listen_port\": ${PORT}}" "http://192.168.1.2:8080/api/v2/app/setPreferences"
ExecStop=/usr/bin/pgrep qbittorrent-nox | xargs kill -s SIGTERM

[Install]
WantedBy=multi-user.target
